
<ion-view view-title="{{classDetail.title}}">
  <ion-content class="padding">
    <div class ="list card">

       <div class =" item item-divider text-center">
          <h1>{{classDetail.title}}</h1>
       </div>

       <div class="item item-body">
         <p>
            <div class="text-center">
             <img ng-src="{{classDetail.image}}" style="width: 250px; height: 200px;border:2px;">
            </div>

            
            
          <div class="text-center">
               <h2>Booking Price:{{classDetail.price}}</h2>
            </div>

         </p>
       </div>


  </div>

<div class="text-center">
  <h4>Skills</h4>
</div>
  <div class="text-left ">
        
        <ul class="list">
          <li class="item item-large ion-arrow-right-b">
              {{classDetail.description}}
            </li>
          </ul>
            
      </div>

      <div class="buttons text-center padding">
            <button class="button button-large button-assertive ion-ios-star" ng-click="addToFavClass()">
              Add To Favorite jobs

            </button>
          </div>
  
  </ion-content>
</ion-view>
